In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [26]:
#Display the total number of players
player_count = purchase_data['SN'].value_counts().count()
column = ['Total Players']
pd.DataFrame([player_count],columns=column)

   Total Players
0            576

In [27]:
#Here we will review a total purchasing analysis
#Number of unique items
unique_purchases = len(purchase_data['Price'].unique())

#Average purchase price
average_pur_price = purchase_data['Price'].mean()

#Total number of purchases
total_purchases = purchase_data['Price'].count()

#Total revenue
total_revenue = purchase_data['Price'].sum()

total_pur_analysis = {'Number of Unique Items':[unique_purchases],'Average Price':[average_pur_price],
     'Number of Purchases':total_purchases,'Total Revenue':total_revenue}

pd.DataFrame(total_pur_analysis)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     145       3.050987                  780        2379.77

In [28]:
#Gender Demographics
gen_dem_df = purchase_data[['SN','Gender']].drop_duplicates()
player_count
#Percentage and Count of Male Players
male_count = gen_dem_df.loc[gen_dem_df['Gender']=='Male', :]
male_count = len(male_count)
male_percent = male_count/player_count*100
male_percent = male_percent.round(2)

#Percentage and Count of Female Players
female_count = gen_dem_df.loc[gen_dem_df['Gender']=='Female', :]
female_count = len(female_count)
female_percent = female_count/player_count*100
female_percent = female_percent.round(2)


#Percentage and Count of Other / Non-Disclosed
other_count = gen_dem_df.loc[gen_dem_df['Gender']=='Other / Non-Disclosed']
other_count = len(other_count)
other_percent = other_count/player_count*100
other_percent = other_percent.round(2)

df = {'Total Count':[male_count,female_count,other_count],
      'Percentage of Players':[male_percent,female_percent,other_percent]}
rows = ['Male','Female','Other / Non-Disclosed']
df = pd.DataFrame(df)
df

   Total Count  Percentage of Players
0          484                  84.03
1           81                  14.06
2           11                   1.91

In [57]:
#Purchasing Analysis (Gender)
#Purchase Count, Average Purchase Price, Total Purchase Value, Average Purchase Total per Person by Gender
female_count = purchase_data.loc[purchase_data['Gender']=='Female', :]
pur_count_fem = female_count['Price'].count()
avg_fem_purchase = female_count['Price'].mean()
total_value_fem = female_count['Price'].sum()
#avg_total_per_fem = female_count.groupby(['SN']).mean()

male_count = purchase_data.loc[purchase_data['Gender']=='Male', :]
pur_count_male = male_count['Price'].count()
avg_male_purchase = male_count['Price'].mean()
total_value_male = male_count['Price'].sum()
#avg_total_per_fem = female_count.groupby(['SN']).mean()

other_count = purchase_data.loc[purchase_data['Gender']=='Other / Non-Disclosed', :]
pur_count_other = other_count['Price'].count()
avg_other_purchase = other_count['Price'].mean()
total_value_other = other_count['Price'].sum()
#avg_total_per_fem = female_count.groupby(['SN']).mean()

#Create a summary data frame to hold the results
gender_df = {'Purchase Count':[pur_count_fem,pur_count_male,pur_count_other],
            'Average Purchase Price':[avg_fem_purchase,avg_male_purchase,avg_other_purchase],
            'Total Purchase Value':[total_value_fem,total_value_male,total_value_other]}
gender_df = pd.DataFrame(gender_df)
#Display the summary data frame
gender_df

   Purchase Count  Average Purchase Price  Total Purchase Value
0             113                3.203009                361.94
1             652                3.017853               1967.64
2              15                3.346000                 50.19

In [ ]:
# Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group